<div ng-controller="UsageStatesController as usage">
    <h1>PT Anywhere usage summary</h1>

    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <p>Number of levels shown in the chart: <span ng-bind="usage.slidedLevels"></span>.</p>

            <div class="slider" slider-max="usage.maxLevels" on-slide="usage.onSlide(value)" on-change="usage.onChange(value)"></div>

            <p>Notes to interpret the chart:</p>
            <ul>
                <li>If a session has more than <span ng-bind="usage.slidedLevels"></span> steps, the remaining ones will not be displayed.</li>
                <li>For the sake of simplicity, the states have not been subdivided to consider the type of devices created, deleted or modified.</li>
                <li ng-show="usage.slidedLevels == usage.maxLevels">
                    The final state is based on the solution for the experimentation session carried out in January.
                    Note that the user of this session might have been using the widget with other purposes.</li>
                <li ng-show="usage.slidedLevels < usage.maxLevels">To avoid confusions, the final state transition is only shown if all the levels are displayed.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="stateDiagram" data="usage.data" levels-to-show="usage.levels" final-displayed="true"></div>
        </div>
    </div>
</div>