<div ng-controller="UsageStatesController as usage">
    <h1>PT Anywhere usage summary</h1>

    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <p>Number of levels shown in the chart: <span ng-bind="usage.slidedLevels"></span>.</p>
            <div class="slider" slider-max="usage.maxLevels" on-slide="usage.onSlide(value)" on-change="usage.onChange(value)"></div>

            <p>Notes to interpret the chart:</p>
            <ul>
                <li>If a session has less than <span ng-bind="usage.slidedLevels"></span> steps, NOOP state will be selected for the remaining levels.</li>
                <li>If a session has more than <span ng-bind="usage.slidedLevels"></span> steps, the remaining ones will not be displayed.</li>
                <li>For the sake of simplicity, the states have not been subdivided to consider the type of devices created, deleted or modified.</li>
                <li>This aggregation chart does not show final states.
                    You can check the final state for each session in the session-specific version of this chart.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="stateDiagram" data="usage.data" levels-to-show="usage.levels"></div>
        </div>
    </div>
</div>
