*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Mac OS X
.DS_Store

# IntelliJ IDEA
.idea/
*.iml

# Private (secret) property files
src/main/resources/private


# Karma dependencies
src/main/webapp/static/js/dashboard/node_modules/*

# Grunt dependencies
src/main/webapp/static/js/dashboard/scripts/node_modules/*

# JavaScript dependencies with Bower
src/main/webapp/static/js/dashboard/dependencies/*
## AngularJS
!src/main/webapp/static/js/dashboard/dependencies/angular/angular.min.js
!src/main/webapp/static/js/dashboard/dependencies/angular-route/angular-route.min.js
## Bootstrap
!src/main/webapp/static/js/dashboard/dependencies/bootstrap/dist/
## JQuery
!src/main/webapp/static/js/dashboard/dependencies/jquery/dist/jquery.min.js
## jQuery UI
# We do not care so much about performance here, so we include all files to ease development.
!src/main/webapp/static/js/dashboard/dependencies/jquery-ui/jquery-ui.min.js
!src/main/webapp/static/js/dashboard/dependencies/jquery-ui/themes/base/jquery-ui.min.css
## vis.js
!src/main/webapp/static/js/dashboard/dependencies/vis/dist/
## Datetimepicker
!src/main/webapp/static/js/dashboard/dependencies/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.min.js
