#timeline {
    float: right;
    width: 95%;
}

#timeline .time {
    float: left;
    margin-right: 5%;
}

#timeline .progress {
    overflow: hidden;
}

.replaying-area {
    height: 670px;
}

.replaying-area>div {
    height: 100%;
}

#event-log {
    height: 100%;
    overflow: scroll;
}

#event-log p {
    margin: 0%;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

.commandLine {
    height: 100%;
    overflow: auto;
}