#timeline {
    float: right;
    width: 90%;
}

#timeline .start {
    float: left;
    margin-right: 5%;
}

#timeline .slider {
    float: left;
    width: 80%;
}

#timeline .end {
    margin-left: 5%;
    float: left;
}

#event-log {
    overflow: scroll;
    height: 670px;
}

#event-log p {
    margin: 0%;
}