#timeline {
    float: right;
    width: 90%;
}

#timeline .start {
    float: left;
    margin-right: 5%;
}

#timeline .slider {
    float: left;
    width: 80%;
}

#timeline .end {
    margin-left: 5%;
    float: left;
}

.replaying-area {
    height: 670px;
}

.replaying-area>div {
    height: 100%;
}

#event-log {
    height: 100%;
    overflow: scroll;
}

#event-log p {
    margin: 0%;
}

.modal, .modal-backdrop {
    position: absolute !important;
}